/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  block-size: 100%;
  inline-size: 100%;
  margin: 0 auto;
  background-image: var(--bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono' , sans-serif;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content min-content;
 /* justify-content: center;*/
  align-items: start;
  padding: 10px 10px 66px 10px;
  position: relative;
  height: 100vh;
  min-block-size: 668px;
}

.header__decorated {
  position: absolute;
  color: var(--header-decoration-color);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  text-transform: uppercase;
  top: 10px;
  right: 38px;
}

.header__decorated::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--header-decoration-color);
  position: absolute;
  top: 8px;
  right: -18px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--header-decoration-color);
}

.decorated-zone::before {
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
  border-right: 1px solid var(--header-decoration-color);
  border-top: 1px solid var(--header-decoration-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
  border-left: 1px solid var(--header-decoration-color);
  border-bottom: 1px solid var(--header-decoration-color);
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
text-align: center;
padding-block-start: 65px;
padding-inline-end: 5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--header-decoration-color);
  text-align: center;
  text-transform: lowercase;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 4px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-decoration-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--header-decoration-color);
}

.header__title-box {
  padding-block-start: 66.5px;
  padding-block-end: 50px;
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--acent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  /*padding-block-start: 65px;
  padding-block-end: 55px;*/
}

.header__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  }

.title-decor {
  background-color: var(--title-decor-color);
  color: var(--header-text-color);
}

/* -------main------*/

.main {
  padding: 0 10px;
  display: grid;
  gap: 50px;
  margin-block-start: 40px;
  margin-block-end: 40px;
}

.main__section {
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.main__section-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__title {
  display: block;
  color: var(--header-decoration-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main__section-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main__section-title-bottom {
  margin-block-end: 10px;
}

.main__section-title-weight {
  font-weight: 400;
}

.main__text {
  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.text__shadow {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--acent-color);
}

.text__shadow:hover {
  border-bottom: 1px solid var(--acent-color);
}

.text__shadow:focus {
  outline: none;
}

.text__shadow:focus-visible {
  outline: none;
  border: 1px solid var(--acent-color);
}

/* gallery*/

/*.main__gallery {
  margin-block-end: 40px;
}*/

.main__gallery-box {
  display: grid;
  gap: 10px;
}

.main__gallery-box-item {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* footer         */

.footer {
  position: relative;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.footer__title-box {
  grid-row: 2;
  inline-size: 100%;
  block-size: 100%;
}

.footer .header__title {
  text-shadow: 2px 2px 0px var(--acent-color);
}


/* Media*/

@media (768px <= width ) {
  .header {
    padding: 20px 20px 183px 20px;
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__decorated {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    padding-block-start: 172px;
    }

    .header__title-box {
      padding-block-start: 173px;
      padding-block-end: 162px;
      margin-inline-start: -20px;
    }

    .header__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__text {
      justify-self: end;
      inline-size: 50%;
    }

    .main {
      padding: 0 20px;
      gap: 80px;
      margin-block-start: 60px;
    }

    .main .main__section:not(:nth-child(2)) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
    }

    .main .main__section:nth-child(2) {
      display: grid;
      grid-template:repeat(4, min-content) / repeat(4, 1fr)
    }

    .main__section:nth-child(2) {
      .main__title {
        grid-column: span 1;

      }

      .main__section-item {
        grid-column: span 4;
      }
    }

    .main__section-item {
      grid-column: 2;
    }

    .main__gallery-box {
      grid-template: repeat(3, min-content) / repeat(3, 1fr);
      gap: 20px;
    }

    .main__gallery .main__section-item {
      gap: 20px;
    }

    .main__gallery-box-item:nth-child(1) {
      grid-column: span 2;
    }

    .main__gallery-box-item:nth-child(2) {
      grid-row: span 2;
    }

    .main__gallery-box-item:nth-child(3) {
      grid-row: span 2;
    }

    .main__gallery-box-item:nth-child(5) {
      grid-column: span 2;
    }

    .footer {
      min-block-size: 1024px;
    }
  }

  @media(1024px <= width) {

    .header {
      padding: 20px 20px 134px 20px;
      min-block-size: 768px;
    }
    
    .header__theme-menu {
      padding-inline-end: 0;
      padding-block-start: 0;
    }

    .header__theme-menu-list {
      flex-direction: row;
    }

    .header__title-box {
      padding-block-start: 273px;
      padding-block-end: 114px;
    }

    .main .main__section:nth-child(2) {
      display: grid;
      grid-template:repeat(2, min-content) / repeat(3, 1fr)
    }

    .main__section:nth-child(2) {
      .main__section-item {
        grid-row-start: 2;
        grid-column: span 1;
      }
    }

    .main__gallery-box {
      grid-template: repeat(3, 30.06%) / repeat(3, 32.01%);
      gap: 20px;
    }

    .footer {
      min-block-size: 768px;
    }
  }