/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --acent-color: #ff0070;
  --title-color: #db00ff;
  --header-text-color: #000028;
  --header-decoration-color: #ff0070;
  --title-decor-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-img: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --fonts: "IBM Plex mono";
}
